PORT=3000
JWT_SECRET=MedoMafia
VAPID_PUBLIC_KEY=BH6bN1AcOdj46U3g00hECuNOCWPuxAJstsFFoDPdr7cR3Kzxc64gxvfCG9d7p7bZFMkRvs6woMF82U8pkqJCVTs
VAPID_PRIVATE_KEY=DA4zsaBcUGV6NZkVmSu87-SwyqIka-U595Tg7Whnajk
VAPID_CONTACT_EMAIL=mailto:admin@example.com
